@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
}

/* HEADER  */

header {
    z-index: 1;
}

.interacoes1 {
    margin-top: 40px;
}

.interacoes2 {
    margin-top: 30px;
}

.carrinho {
    margin-left: 25%;
}

.perfil {
    margin-left: 20px;
}

@media (max-width: 1037px) {

    .carrinho {
        margin-left: 0;
    }

}

@media (max-width: 800px) {
    .perfil {
        margin-left: 5px;
    }
}

@media (max-width: 777px) {
    .interacoes2 {
            transform: translateX(35%);
    }

    .carrinho {
        margin-left: 0;
    }

    .perfil {
        margin-left: 50px;
    }

    header {
        margin-bottom: 20px;
    }
}

@media (max-width: 220px) {
    .logo {
        margin: 0 auto;
    }

    .perfil {
        margin-left: 0;
    }
}
/* ______________________________________________________________ */


.titulo {
    margin-top: 50px;
    margin-left: 20px;
    width: 800px;
    margin-bottom: 20px;
}

.items-novidades {
    gap: -5px;
    margin-top: 10PX;
    margin-right: 10px;
    margin-left: 10px;
}

.card{
    overflow: hidden;
}

.card img{
    width: 100%;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
}


.imagens-marcas {
    margin-top: 20px;
}

.rounded-circle:hover {
    opacity: 0.5;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    font-size: 13px;
    margin-top: 45px;
  }
  
  .escrita-footer {
    line-height: 15px;
    color: #fff;
    margin-left: 10px;
  }
  
  .esquerda-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .esquerda-footer nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 13px;
    margin-left: -20px;
  }
  
  .esquerda-footer nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  .esquerda-footer nav ul li a:hover {
    text-decoration: underline;
  }
  
  .logo-social {
    width: 28px;
    height: 28px;
  }
  
  .links-social {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  
  .redes-sociais {
    margin-right: 15px;
    margin-bottom: 0;
  }
  
  .redes-sociais a {
    text-decoration: none;
    color: #fff;
  }
  
  .face, .twitter, .insta {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease, background-position 1s ease;
  }
  
  .face:hover {
    color: #1947ab ;
  }
  
  .twitter:hover {
    color: #00acee;
  }
  
  .insta {
    display: inline-block; /* Para aplicar o gradiente à palavra */
    background-image: linear-gradient(blue 8px, purple, rgb(255, 94, 0), yellow);
    -webkit-background-clip: text; /* Aplica o gradiente apenas ao texto no Chrome e Safari */
    background-clip: text; /* Aplica o gradiente apenas ao texto */
    color: white; /* Torna o texto transparente para o gradiente aparecer */
    transition: background-position 1s ease, color 0.5s ease, font-size 1s ease;
  }
  
  .insta:hover {
        background-position: 100%;
        color: transparent;
    }
  


/* PARTE FODA */
  /* @keyframes noise-background {
    0% {
      transform: translate3d(0, 0, 0);
    }
    20% {
      transform: translate3d(50px, 30px, 0);
    }
    40% {
      transform: translate3d(10px, 50px, 0);
     }
     60% {
      transform: translate3d(30px, 20px, 0);
     }
     80% {
      transform: translate3d(50px, 0, 0);
     }
    100% {
      transform: translate3d(100px, 0, 0);
    }
  }
  body {        
      background: #093740 url("https://assets.codepen.io/5817405/noise_2.png");
      background-blend-mode: overlay;
  
      animation: noise-background 0.5s steps(1) infinite;
  
      content: '';
    }
  } */