@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
}



.titulo {
    margin-top: 50px;
    margin-left: 20px;
    width: 800px;
    margin-bottom: 20px;
}

.items-novidades {
    gap: -2px;
    margin-top: 10PX;
    margin-right: 10px;
    margin-left: 10px;
}

.card{
    overflow: hidden;
}

.card img{
    width: 100%;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
}


.imagens-marcas {
    margin-top: 20px;
}

.rounded-circle:hover {
    opacity: 0.5;
}




/* FOOTER */




/* PARTE FODA */
  /* @keyframes noise-background {
    0% {
      transform: translate3d(0, 0, 0);
    }
    20% {
      transform: translate3d(50px, 30px, 0);
    }
    40% {
      transform: translate3d(10px, 50px, 0);
     }
     60% {
      transform: translate3d(30px, 20px, 0);
     }
     80% {
      transform: translate3d(50px, 0, 0);
     }
    100% {
      transform: translate3d(100px, 0, 0);
    }
  }
  body {        
      background: #093740 url("https://assets.codepen.io/5817405/noise_2.png");
      background-blend-mode: overlay;
  
      animation: noise-background 0.5s steps(1) infinite;
  
      content: '';
    }
  } */