/* Header */
header {
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

.interacoes1 {
    margin-top: 40px;
}

.interacoes2 {
    margin-top: 30px;
}

.carrinho {
    margin-left: 25%;
    height: 60px;
    width: 60px;
}

.perfil {
    margin-left: 20px;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}

/* ________________________________ */

body {
    background-image: url(imgs/naruto-background3.jpg);
    background-color: rgba(255, 255, 255, 0.5); /* Ajuste o valor alpha para controlar a opacidade */
    background-repeat: no-repeat;
    background-size: cover;
}

/* _________________________________ */

.container {
    margin-top: 26px;
    /* background-color: #D2D2D2; */
    height: 500px;
    background-color: rgba(200, 200, 200, 0.7); /* Cor vermelha com 50% de transparência */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.container h1 {
    opacity: 1.0;
}