.container {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    max-width: 700px;
    height: auto;
    background-color: rgba(181, 181, 181, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 10px;
}

.text-foto-de-perfil {
    margin-bottom: 20px;
    margin-left: 25px;
}

body {
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Imagens-não-oficiais/Fundo-perfil/naruto-background3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}

@media (max-width: 907px) {
    body::before {
        height: 200vh;
    }
}

.esquerda-meio-container img {
    max-width: 100%;
    width: 200px;
    height: auto;
    margin-bottom: 40px;
    margin-left: 10px;
}

.baixo-conteiner h3 {
    margin-bottom: 30px;
}

.genero {
    width: 100%;
    margin-bottom: 30px;
}

.localizacao {
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.localizacao input {
    width: 100%;
}

.data-de-nascimento {
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
    padding: 0;
}

.data-de-nascimento input {
    width: 100%;
}

a {
    text-decoration: none;
}

.voltar:hover {
    background-color: #64437d;
    color: black;
}

.telefone {
    width: 100%;
}

.col-md-4 input {
    border-radius: 10px;
}

header {
    background-color: white;
}

.deletar {
    margin-left: auto;
}

@media (max-width: 600px) {
    .deletar {
        margin-left: 0;
    }
}

#foto-de-perfil {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.MudarDeFoto {
    margin-left: 40px;
}

.informacoes-principais {
    margin-top: 40px;
}

.inputs-baixos {
    padding: 10px;
    max-width: 90%;
    margin-left: 20px;
}

.label-inputs-abaixo {
    margin-left: 20px;
}