.encimaEsquerda{
    display: flex;
    flex-direction: row;
    /* border-right: solid black 1px; */
}

.mainEsquerda ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
    gap: 30px;
}

.imagemMenor li{
    width: 70px;
    height: 70px;

    border-radius: 5px;
}
.imagemPrincipal{
    display: flex;
    margin-top: 20px;
    border: solid black 1px;
    margin-left: 8px;
}

.imagemPrincipal img{
    width: 500px;
    height: 500px;
}

.informacoes-fabricio, .informacoes-ana {
    margin-top: 30px;
  }

.descricao {
    margin-top: 20px;
}

.Comprar {
    text-decoration: line-through;
}

.btn-group {
    gap: 5px;
}

svg {
    margin-left: 10px;
}

.fabricio, .ana {
    background-color: #B5B5B5;
    border-radius: 10px;
}

.img-fabricio, .img-ana {
    margin-top: 10px;
    margin-bottom: 10px;
}

.voltar{
    background-color: #7E33B7;
    color: black;
}

a {
    text-decoration: none;
}

.voltar:hover {
    background-color: #64437d;
    color: black;
}

#valor {
    text-decoration: underline;
    color: red;
}