body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  background-image: url(imgs/Stardew-Valley.gif);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
}

/* .video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* .video-wrap {
  position: fixed;
  top: 17%;
  left: 50%;
  width: 100%;
  height: 60%;
  transform: translate(-50%, -50%);
} */

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff; /* Ajuste a cor do texto conforme necessário */
  padding: 20px;
}

/* ______________________________________ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.Cadastro {
  position: relative;
  padding: 80px;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(15px);
  border: 1px solid #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  width: 500px;
  height: 690px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}
.Cadastro h2 {
  font-family: 'NewSquare', sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.Cadastro .inputBox {
  position: relative;
}
.Cadastro .inputBox input {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25em;
  color: black;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
}
.Cadastro .inputBox input ::placeholder {
  color: black;
}
.Cadastro .inputBox #btn {
  position: relative;
  border: none;
  outline: none;
  background-color: rgb(216, 0, 232);
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 500;
  transition: 0.5s;
  margin-bottom: 6px;
}
.Cadastro .inputBox #btn:hover {
  background-color: rgb(148, 0, 158);
}
.Cadastro .group {
  display: flex;
  justify-content: space-around;
}

.Cadastro a {
  font-size: 1.0em;
    color: black;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.5;
}
.Cadastro a:nth-child(2) {
  text-decoration: underline;
}
.Cadastro .group a {
  margin: 10px;
}
.Cadastro a:hover {
  color: rgb(0, 0, 0);
    text-decoration: underline;
    opacity: 1.0;
}

.Cadastro img {
  margin-bottom: 8px;
  margin-top: -38px;
  padding: 0;
  height: 180px;
  width: 180px;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 600px) {
  /* Estilos específicos para telas com largura máxima de 600 pixels (tamanhos de celular) */
  .content {
      padding: 10px;
  }
  body {
    /* padding: 16px; */
    height: 108vh;
  }
}

/* ______________________________ */

@font-face {
  font-family: 'NewSquare';
  src: url('New_Square/NovaSquare-Regular.ttf') format('woff2'),
       url('New_Square/NovaSquare-Regular.ttf') format('woff');
  /* Adicione outros formatos, se necessário */
  font-weight: normal;
  font-style: normal;
}
