.ocultar-conteudo {
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(../Imagens-não-oficiais/background_comentario.jpg);
    background-size: cover;
    background-position: center center; /* centraliza a imagem */
    width: 700px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#comentario {
width: 70%; /* Ocupa 100% da largura do contêiner pai */
height: 150px; /* Altura fixa em pixels (ajuste conforme necessário) */
resize: none; /* Impede o redimensionamento */
padding: 10px; /* Adiciona um espaçamento interno para melhor aparência */
border: 1px solid #000000; /* Adiciona uma borda para separar o textarea do restante do formulário */
border-radius: 20px; /* Adiciona bordas arredondadas */
font-size: 14px; /* Define o tamanho da fonte */
box-sizing: border-box; /* Garante que a largura inclua preenchimento e borda */
background-color: rgba(255, 255, 255, 0.2);
}

#comentario::placeholder {
    color: black; /* Cor do placeholder */
}

#comentario:focus {
    outline: none;
    box-shadow: none;
}


.botoes {
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.botoes .btn-success {
    margin-left: 320px;
}

.voltar-home button{
    margin-left: 150px;
}


.template {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(169, 169, 169, 0.5);
    margin-right: 50px;
    margin-left: 50px;
}

.informacoes-template {
    padding-left: 20px;
}

.informacoes-template p {
    margin: 0;
}

.informacoes-template p.mb-1 {
    margin-bottom: 5px;
}

.informacoes-template p.mb-0 {
    margin-bottom: 15px;
}

.informacoes-template p.fw-bold {
    font-weight: bold;
}

.dados-do-comentario {
    display: flex;
    align-items: center;
}

.dados-do-comentario img {
    /* width: 150px;
    height: 150px; */
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}